@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-safe-code: "Science Gothic", monospace;

  --animate-y-spin: y-spin 250ms linear infinite;

  @keyframes y-spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --gradient-border-1: #2374ab;
  --gradient-border-2: #231651;
  --gradient-border-3: #4dccbd;
}

.gradient-border {
  position: relative;
}

.gradient-border:not(:disabled)::before,
.gradient-border:not(:disabled)::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--gradient-border-1),
    var(--gradient-border-2),
    var(--gradient-border-3),
    var(--gradient-border-2),
    var(--gradient-border-1)
  );
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}

.gradient-border:not(:disabled)::after {
  filter: blur(3.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}
