@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&family=Workbench&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-safe-code: "Workbench", monospace;

  --animate-y-spin: y-spin 250ms linear infinite;
  --animate-spy-stroke-main-1: spy-stroke-main 1.6s ease-in 7 forwards;
  --animate-spy-stroke-secondary-1: spy-stroke-secondary 1.6s ease-in 800ms 8 backwards;
  --animate-spy-stroke-main-2: spy-stroke-main 1.6s ease-out 900ms 7 backwards;
  --animate-spy-stroke-secondary-2: spy-stroke-secondary 1.6s ease-out 1.7s 6 backwards;

  @keyframes y-spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  @keyframes spy-stroke-main {
    0% {
      stroke-dashoffset: 160;
      opacity: 1;
    }
    50% {
      stroke-dashoffset: 0;
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes spy-stroke-secondary {
    0% {
      stroke-dashoffset: 160;
      opacity: 1;
    }
    49% {
      opacity: 1;
    }
    50%,
    100% {
      stroke-dashoffset: 0;
      opacity: 0;
    }
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


:root {
  --gradient-border-1: #2374ab;
  --gradient-border-2: #231651;
  --gradient-border-3: #4dccbd;
}

.gradient-border {
  position: relative;
}

.gradient-border:not(:disabled)::before,
.gradient-border:not(:disabled)::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--gradient-border-1),
    var(--gradient-border-2),
    var(--gradient-border-3),
    var(--gradient-border-2),
    var(--gradient-border-1)
    );
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}

.gradient-border:not(:disabled)::after {
  filter: blur(3.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.title {
  margin-bottom: 2rem; 
  font-size: 34px;
  line-height: 1.25rem; 
  font-weight: 700;
  color: #200000;
  text-align: center;
}

.nomes {
  color: #200000;
  text-align: center;
  font-size: 13px;
}

.container-body {
  /* w-fit: A largura se adapta ao conteúdo do elemento */
  width: fit-content;
  /* max-w-full: Garante que não ultrapasse a largura do container pai */
  max-width: 100%;
  
  /* mx-auto: Centraliza o elemento horizontalmente na tela */
  margin-left: auto;
  margin-right: auto;
}

.text-body {
  /* max-w-[65ch] */
  max-width: 65ch;
  
  /* mb-4 (equivale a 1rem ou 16px na escala padrão do Tailwind) */
  margin-bottom: 1rem; 

  /* text-left */
  text-align: left;
  
  /* text-lg (Ajustes de tamanho e altura da linha) */
  font-size: 1.25rem;
  line-height: 1.75rem; 
  
  /* text-stone-900 (Um cinza bem escuro) */
  color: #240505;
}

.subtitle-body {
  /* mt-8 (equivale a 2rem ou 32px na escala do Tailwind) */
  margin-top: 2rem; 

  /* mb-4 (equivale a 1rem ou 16px na escala do Tailwind) */
  margin-bottom: 1rem; 

  /* text-left */
  text-align: left;
  
  /* text-2xl (Tamanho da fonte grande) */
  font-size: 1.5rem;
  line-height: 2rem; 
  
  /* text-stone-900 (Cor Stone 900) */
  color: #000000;
  
  /* font-bold */
  font-weight: 700; /* 700 é o valor numérico para 'bold' (negrito) */
}

body {
  padding-top: 7vh;
  background-color: #faebd7;
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
  font-family: var(--font-sans);
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.link-ref {
  color: #790f0f;
  text-decoration: none;
  transition: 0.3s;
  text-decoration: underline;
  font-size: 18px;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 15px;
  letter-spacing: 4px;
}

.bcc {
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: bold;
}

nav {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #421313;
  height: 8vh;
  z-index: 1000; 
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

@media (max-width: 999px) {
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #421313;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
