@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&family=Workbench&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-safe-code: "Workbench", monospace;

  --animate-y-spin: y-spin 250ms linear infinite;
  --animate-spy-stroke-main-1: spy-stroke-main 1.6s ease-in 7 forwards;
  --animate-spy-stroke-secondary-1: spy-stroke-secondary 1.6s ease-in 800ms 8 backwards;
  --animate-spy-stroke-main-2: spy-stroke-main 1.6s ease-out 900ms 7 backwards;
  --animate-spy-stroke-secondary-2: spy-stroke-secondary 1.6s ease-out 1.7s 6 backwards;

  @keyframes y-spin {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  @keyframes spy-stroke-main {
    0% {
      stroke-dashoffset: 160;
      opacity: 1;
    }
    50% {
      stroke-dashoffset: 0;
    }
    99% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes spy-stroke-secondary {
    0% {
      stroke-dashoffset: 160;
      opacity: 1;
    }
    49% {
      opacity: 1;
    }
    50%,
    100% {
      stroke-dashoffset: 0;
      opacity: 0;
    }
  }
}

@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  --gradient-border-1: #2374ab;
  --gradient-border-2: #231651;
  --gradient-border-3: #4dccbd;
}

.gradient-border {
  position: relative;
}

.gradient-border:not(:disabled)::before,
.gradient-border:not(:disabled)::after {
  content: "";
  position: absolute;
  inset: -0.2rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--gradient-border-1),
    var(--gradient-border-2),
    var(--gradient-border-3),
    var(--gradient-border-2),
    var(--gradient-border-1)
  );
  border-radius: inherit;
  animation: rotation 20s linear infinite;
}

.gradient-border:not(:disabled)::after {
  filter: blur(3.5rem);
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}


a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.link-ref{
  color: #000000;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

nav {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #23232e;
  height: 8vh;
  z-index: 1000; 
}


.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}



@media (max-width: 999px) {
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
